<div class="content-block game-menu">
    <h2>Достижения</h2>
    <a class="btn_a closeBlock" onclick="displayBlock('gameMain')"></a>
</div>
<div class="text_container" id="achievement_container">

</div>
