<div class="content-block game-menu">
    <h2>Главы</h2>
    <a class="btn_a closeBlock" onclick="displayBlock('gameMain')"></a>
</div>

<div id="chapterlist" class="text_container">
    <div class="content-block chapter interactable" id="resetgame" onclick="resetToChapter(0)">[ Начать игру заново ]</div>
</div>