{% extends 'layout.twig' %}

{% block title %}{{gamename}}{% endblock %}

{% block content %}

<div id="gameMain">
    {% include "game_main.twig" %}
</div>
{% if gamefolder not in ["S0", "S1"] %}
    <div id="achievements" style="display:none;">
        {% include "achievements.twig" %}
    </div>
{% endif %}
<div id="chapters" style="display:none;">
    {% include "chapters.twig" %}
</div>
<div id="settingsGame" style="display:none;">
    {% include "settings.twig" %}
</div>



<script type="text/javascript">
    speed = 20;
    const gamefolder = '{{ gamefolder }}';
    const gamedata = '{{ gamedata }}';
    fetchData('{{ maintext }}')
    .then(data => {
        let xmlMainText = data;  // Должен быть объект XML
        const chaptersList = xmlMainText.getElementsByTagName("chapter");
        Chapters = new Map();
        for (const chapter of chaptersList) {
            Chapters.set(Number(chapter.getAttribute("id")), chapter);
        }
        console.log(Chapters);
        startgame();
    })
    .catch(error => {
        console.log(error);
    });

</script>

{% endblock %}