{% extends 'layout.twig' %}

{% block title %}{{gamename}}{% endblock %}

{% block content %}

<div id="gameMain">
    {% include "game_main.twig" %}
</div>
<div id="achievements" style="display:none;">
    {% include "achievements.twig" %}
</div>
<div id="chapters" style="display:none;">
    {% include "chapters.twig" %}
</div>
<div id="settingsGame" style="display:none;">
    {% include "settings.twig" %}
</div>


<script type="text/javascript">
    speed = 20;
    fetchData('{{ maintext }}')
    .then(data => {
        xmlMainText = data;  // Должен быть объект XML
        chapterrender(1);
    })
    .catch(error => {
        console.log(error);
    });
    const gamefolder = '{{ gamefolder }}';
</script>

{% endblock %}