<div class="content-block game-menu">
    <a class="btn_a marker" onclick="displayBlock('chapters')"></a>
    <a class="btn_a ach"></a>
    <a class="btn_a settings"></a>
    <a href="/" class="btn_a menuInGame"></a>
</div>

<div class="text_container" id="outer_text_container">
    <div class="" id="text_container">
    </div>
    <div id="progressAnim" class="content-block">
        <div class="gamegif"><img src="/assets/game_assets/gui/gui/animation.gif"></div>
    </div>
    <div class="btnhl" id="btnholder">
    </div>
</div>

<div id="scrollDownBtn"></div>

<script src="/assets/js/game.js"></script>
