{% extends 'layout.twig' %}

{% block title %}Настройки{% endblock %}

{% block content %}
<div class="content-block game-menu">
    <h2>Настройки</h2>
    <a class="btn_a closeBlock" href="/">&nbsp;</a>
</div>

{% endblock %}