{% extends 'layout.twig' %}

{% block title %}Главное меню {% endblock %}

{% block content %}

<a href="/game/1">Симбионт 1</a>
<a href="/game/2">Симбионт 2</a>
<a href="/game/3_1">Симбионт 3, ветка Соболева</a>
<a href="/game/3_2">Симбионт 3, ветка Беркута</a>
{% endblock %}