{% extends 'layout.twig' %}

{% block title %}Главное меню {% endblock %}

{% block content %}

<a href="/game/1"  class="content-block">Симбионт 1</a>
<a href="/game/2"  class="content-block">Симбионт 2</a>
<a href="/game/3_1"  class="content-block">Симбионт 3, ветка Соболева</a>
<a href="/game/3_2"  class="content-block">Симбионт 3, ветка Беркута</a>
<a href="/game/3_3"  class="content-block">Симбионт 3, ветка Легионера</a>
{% endblock %}