<!-- Меню  -->
<div class="content-block game-menu">
    <h1>Настройки</h1>
    <a class="btn_a closeBlock" onclick="displayBlock('gameMain')"></a>
</div>
<!-- Меню  -->
<div class="text_container" id="outer_text_container">
</div>
